.about {
  width: 80%;
  padding-top: 70px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.about__img-box {
  padding: 50px;
  margin-right: 50px;
}

.about__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.about__name {
  font-weight: bold;
  width: 200px;
  font-size: 20px;
  text-align: center;
}

.about__button-link {
  text-decoration: none;
  border: none;
}
.about__button {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: solid #fff 0.5px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  padding: 5px;
}
.about__button:hover {
  cursor: pointer;
  color: #66cdaa;
  border: #66cdaa solid 1px;
  border-radius: 10px;
}

.about__text-box {
  width: 100vw;
  max-width: 600px;
}
.about__title {
  font-family: "Playball";
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: left;
}

.about__text {
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}

.about__link {
  text-decoration: none;
  color: #66cdaa;
}

.about__link:hover {
  color: #66dddd;
  text-decoration: underline dashed;
}
