.navButton {
  position: fixed;
  top: 150px;
  right: 3%;
  color: #fff;
  background-color: transparent;
}

.navButton:hover {
  cursor: pointer;
  opacity: 0.8;
  border: solid #66cdaa 1px;
  padding: 2px;
}
