.header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5%;
  padding-left: 5%;
  background-image: url("../../images/bg.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__text {
  font-family: "Playball";
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.header__button-box {
  display: flex;
  justify-content: right;
  width: 100%;
}
.header__button {
  padding-bottom: 10px;
  margin-right: 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: solid #fff 1.5px;
  color: #fff;
}

.header__button:hover {
  border: solid #66cdaa 1.5px;
  color: #66cdaa;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .header__button-box {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    width: 100%;
  }
  .header__button {
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 1.5px;
    color: #fff;
  }
}
