@import url("./vendor/normalize.css");
@import url("./vendor/font/font.css");

.App {
  font-family: "Inter", Sans-serif, Arial, Helvetica;
  background-color: #282c34;
  color: #fff;
  position: relative;
}
